/* styles.css */
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/** Header **/
header {
    background-color: black;
    color: #ff6600;
    padding: 20px 0;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ff6600;
}
.nav-links a:hover {
    color: white;
}


/** HERO SECTION **/
.hero {
    background-image: url('assets/images/hero-bg.jpg') ;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.hero-content p {
    font-size: 3em;
    margin: 10px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff6600;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff9900;
}

/** TOUR SEARCH **/
.container {
    width: auto;
    margin: 0 auto;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: block;
    
}

.container h1 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-group {
    flex: 1;
    margin-left: 20%;
}

.input-group label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 35px;
    
}

.input-group input[type="text"],
input[type="date"],
select {
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.book-btn input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 45%;
    background-color: #ff6600;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;

}

.book-btn input[type="submit"]:hover {
    background-color: #ff9900;
}

/** POPULAR DESTINATION **/
.featured-destinations h2{
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
}
.featured-destinations p{
    font-size: 1.5rem;
    color:#0d0d0d;
    margin-bottom: 20px;
}

/** OUR PACKAGAES **/
.tour-packages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.tour-package {
    width: 300px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.tour-package img {
    max-width: 100%;
}

.tour-package h2{
    margin: 10px 0;
    font-size: 1.5rem;
}

.price {
    font-weight: bold;
    color: #007BFF;
}


/** DESTINATION PAGE  **/
.featured-destinations {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.featured-destinations h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}

.grid-item {
    background-color: white;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover {
    transform: translateY(-o.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card-content {
    padding: 3rem;
}

.card-header {
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}

/**Gallery Page**/
main{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.image {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

/** Footer **/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}